*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
    --color1: #FFF ;
    --color2: #191917 ;
    --color3: #F5F5F5 ;
    --color4: #000 ;
    --color5: #1CB698 ;
    --color6: #121212 ;
    --color7: #1d2858 ;
}
/*MENU*/
.logo .name-logo{
    font-size: 1.2rem;
    position: absolute;
    top: 30%;
    left: 70px;
    font-weight: 400;
    color: var(--color1);
    text-transform: uppercase;
    letter-spacing: 2px;

}
.nav-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: sticky;
    top: 0;
    background-color: var(--color2);
    padding: 12px 20px;
    z-index: 1000;
}

.fixed-menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
.logo img {width: 40px;}
.menu {display: flex;}
.menu li {padding-left: 30px;}
.menu li a {
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center;
    transition: 0.15s ease-in-out;
    position: relative;
    text-transform: uppercase;
}
.menu li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu li a:hover:after {width: 100%;}
.open-menu , .close-menu {
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}
.open-menu {
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
.close-menu {
    top: 20px;
    right: 20px;
}
#check {display: none;}
@media(max-width: 610px){
    .menu {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }
    .menu li {margin-top: 40px;}
    .menu li a {padding: 10px;}
    .open-menu , .close-menu {display: block;}
    #check:checked ~ .menu {right: 0;}
}
/*END MENU*/
/*SECTION HOME*/
.home-section {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--color1);
    margin: 0; /* Asegúrate de que no haya márgenes no deseados */
}

.card-container {
    background-color: #1e2326; /* Fondo gris claro para el contenedor */
    opacity: 0.9;
    padding: 20px; /* Espaciado interno para el contenedor */
    border-radius: 10px; /* Bordes redondeados para un aspecto de tarjeta */
    width: 80%;
    margin: auto;
    margin-top: 10px;
    height: 20%;
}

.home-section h1 {
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 20px;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./images/fondoSoftware.jpg') center/cover no-repeat;
    opacity: 0.7; /* Ajusta la opacidad según tus preferencias */
    z-index: -1;
}

.content {
    z-index: 1;
}

.profile-picture {
    width: 250px; /* Ajusta el tamaño según tus preferencias */
    border-radius: 50%;
    margin-bottom: 20px;
}
.redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3;
}
.redes a:hover{
    background-color: #1CB698;
}
/*END SECTION*/
/* S O B R E  - M I */
.sobremi{
    background-color: var(--color7);
    color: #fff;
    padding: 50px 20px;
    margin: auto;
}
.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}
.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
    
}
.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 40px;
}
.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}
.sobremi .fila{
    display: flex;
}
.sobremi .fila .col{
    width: 50%;
   
}
.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}
.sobremi .fila .col ul{
    list-style: none;
}
.sobremi .fila .col ul li{
    margin: 12px 0;
}
.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}
.sobremi .col ul li a{
    text-decoration: none;
    color: #fff;  
}
/*END SOBRE MI*/
/*PORTAFOLIO*/
#titulo-proyectos{
    text-align: center;
    color: #fff;
    font-size: 48px;
    font-family: 'Righteous';
    padding: 20px 0;
}
.seccion-proyectos{
    background-color: black; /* Añade el color de fondo negro */
    padding: 20px; /* Añade un relleno para separar los proyectos del borde */
    margin: 0;
    text-align: center;
}
.proyectos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 100%;

}


.proyecto {
    width: 25%; /* Ajusta el ancho según tus necesidades */
    margin: 30px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: #33d0a4;
    opacity: 2.0;
}

.proyecto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.proyecto h3{
    color: #ddd;
}
.proyecto p{
    color: #ddd;
}
.boton-demo,
.boton-code {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
    background-color: #1CB698;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.boton-demo:hover,
.boton-code:hover {
    background-color: #166e56; /* Color de fondo al pasar el ratón */
}

.proyecto .botones-proyecto {
    margin-top: 15px;
}

.proyecto .botones-proyecto a {
    margin-right: 10px;
}



  
  
  
    /*END PORTAFOLIO*/  
  
  

